.three-card-game {
    text-align: center;
    padding: 20px;
    background-color: #484646;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .cards-container {
    margin-bottom: 20px;
  }
  
  .player-card {
    background-color: #5c5959;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 140px; 
  }
  
  .card-image {
    width: 60px; 
    height: auto;
    display: block;
  }
  
  
  .draw-button {
    width: 300px;
    margin-top: 20px;
  }
  
  .winner-message {
    margin-top: 20px;
  }
  